html {
    position: relative;
    min-height: 100%;
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.app-info {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: #333333 2px 2px 2px;
}

p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

/*  style de welcome.blade.php  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    z-index: 1;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.articles .card {
    flex-basis: 28%;
}

.articles .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #ddd;
    align-items: center;
    border-radius: 2rem;
    color: #006D2C;
}

.articles .card p {
    width: 85%;
    text-align: center;
}

.titre {
    text-align: center;
    color: #006D2C;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: "eight-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: capitalize;
}


.header {
    background-color: #006D2C;
    color: white;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

#fond-img {
    position: absolute;
    bottom: -5rem;
    right: 50%;
    transform: translate(50%, 0);
}

.header h1 {
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    margin-bottom: 0;
}

#text-header {
    text-align: right;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 4rem;
    z-index: 2;
    position: relative;
    font-family: "eight-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.header>div {
    width: fit-content;
    margin: 0 auto;

}

.btn {
    text-decoration: none;
    color: #ffbf00;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.7rem 1rem;
    margin: 1rem;
    border: solid #ffbf00;
}

.btn:hover {
    background-color: #ffbf00;
    color: #006D2C;
    transition: all 0.3s ease;
}


/* fin style index*/ 

/* Style Navbar et Footer */

.navbar {
    background-color: #006D2C;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #009c3b; /* Ligne verte du bas */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    gap: 2rem;
}

.navbar a.lien-a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold ;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 1.0rem;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.navbar a.lien-a#active-page {
    color: #ffdf00;
    font-weight: bold;
}

/* Effet au survol générique */
.navbar a:hover {
    color: #ffffff; /* Jaune Brésil */
    text-shadow: 0 0 5px rgba(255, 223, 0, 0.3);
}


.navbar a:hover::before {
    opacity: 1;
}


a.btn-connexion{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    background-color : #FFBF00;
    font-weight : bold ;
    padding : 10px 20px;
    border-radius : 15px;
    color : #fff;
}
a.btn-connexion:hover{
    background-color : #e6ac00;
    color : #ffffff;
}

.logo-navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-navbar .logo-text {
    font-family: "eight-condensed", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.logo-navbar img {
    height: 75px;
    width: auto;
    object-fit: cover;
}

footer.footer-section{
    width: 100%;
    background-color: #006D2C;
    color: white;
    padding: 10px 0;
    margin-top:4rem;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 20px;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
}

.logo-navbar2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-navbar2 .logo-text2 {
    font-family: "eight-condensed", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.logo-navbar2 img {
    height: 50px;
    width: auto;
    object-fit: cover;
}

.copyright-footer {
    margin-top: 10px;
    font-size: 0.5rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

a.lien-a-footer {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: medium ;
    color: #ffffff;
    font-size: 0.9rem;

}

/* fin Style Navbar et Footer */

/* Style Contact */ 

/* Fin Style Contact *//* style Carte */ 

.carte-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.carte-auteur a{
    text-decoration: none;
    color: #006D2C;
    background-color: #ffbf00;
    border-radius: 2rem;
    padding: 0.2rem 1rem;
}

.carte-auteur a:hover{
    color: white;
    transition: all 0.3s ease;
}

.carte-resume {
    padding: 1rem 0;
}

.card img {
    border-radius: 1rem;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.card h2 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* Fin style carte */ 