html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-info {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: #333333 2px 2px 2px;
}

p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

/* Style index */ 
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

.app-info {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: #333333 2px 2px 2px;
}


/*  style de welcome.blade.php  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    z-index: 1;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.articles .card {
    flex-basis: 28%;
}

.articles .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #ddd;
    align-items: center;
    border-radius: 2rem;
    color: #006D2C;
}

.articles .card p {
    width: 85%;
    text-align: center;
}

.titre {
    text-align: center;
    color: #006D2C;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: "eight-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: capitalize;
}


.header {
    background-color: #006D2C;
    color: white;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

#fond-img {
    position: absolute;
    bottom: -5rem;
    right: 50%;
    transform: translate(50%, 0);
}

.header h1 {
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    margin-bottom: 0;
}

#text-header {
    text-align: right;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 4rem;
    z-index: 2;
    position: relative;
    font-family: "eight-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.header>div {
    width: fit-content;
    margin: 0 auto;

}

.btn {
    text-decoration: none;
    color: #ffbf00;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.7rem 1rem;
    margin: 1rem;
    border: solid #ffbf00;
}

.btn:hover {
    background-color: #ffbf00;
    color: #006D2C;
}


/* fin style index*/ 



/* style Carte */ 

.carte-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.carte-auteur a{
    text-decoration: none;
    color: #006D2C;
    background-color: #ffbf00;
    border-radius: 2rem;
    padding: 0.2rem 1rem;
}

.carte-auteur a:hover{
    color: white;
}

.carte-resume {
    padding: 1rem 0;
}

.card img {
    border-radius: 1rem;
}

/* Fin style carte */ 